<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClientTema2.Properties.Settings.DbTema2ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DbTema2.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceTema2Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceTema2Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44347/WebServiceTema2.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceTema2Soap"
                contract="ServiceReference1.WebServiceTema2Soap" name="WebServiceTema2Soap" />
        </client>
    </system.serviceModel>
</configuration>